[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "Tests/Lua/master"]
	path = Tests/Lua/master
	url = https://github.com/lua/lua.git
	branch = master
[submodule "Tests\\LuaJIT\\master"]
	path = Tests\\LuaJIT\\master
	url = https://github.com/LuaJIT/LuaJIT
